<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <style>
        #map {
            height: 400px;
            width: 400px;
        }
    </style>
    <script>
        var x;
        var y;
        var map;
        function success(pos) {
            x = pos.coords.latitude;
            y = pos.coords.longitude;
            console.log(`${x}|${y}`)
            var popup = L.popup()
    .setLatLng([x, y])
    .setContent("Tvoja lokacija.")
    .openOn(map);
    
}
        window.onload = () => {
            map = L.map('map').setView([51.505, -0.09], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
navigator.geolocation.getCurrentPosition(success)

        }
       
    </script>
    <title>Taxiway prototype</title>
</head>
<body>
    <div id="map"></div>
</body>
</html>